* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.img-container {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    justify-items: center;
    background-color: #3E6FB2;
    gap: 10px;
}

.last-img {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5652;

} 